*
  border 0
  margin 0
  outline 0
  padding 0

  &
  &:after
  &:before
    box-sizing border-box

html
  font-size 62.5%

  @media (min-width: 600px)
    font-size 65.625%

  @media (min-width: 900px)
    font-size 68.75%

body
  background-color $background-color
  color $dark-text-color-primary
  font-family 'Roboto',sans-serif
  font-size 1.6rem
  line-height 1.2

button
  appearance none
  background none
