.note
  @extends $flex
  align-items center
  border-bottom $divider-color .1rem solid
  flex-flow row wrap
  list-style-type none
  padding $gutter-width
  width 100%

  &__text
    flex 1

  &__title
    font-size 2rem
    line-height 1.5

  &__content
    color $dark-text-color-secondary

  &__remove
    flex 0 1 4rem
