$shadow-key-umbra-opacity = .2
$shadow-key-penumbra-opacity = .14
$shadow-ambient-shadow-opacity = .12

$white = #fff
$primary-color = #009688
$accent-color = #ffc107
$background-color = #fafafa
$dark-text-color-primary = rgba(0,0,0,.87)
$dark-text-color-secondary = rgba(0,0,0,.54)
$light-text-color-primary = $white
$primary-icon-color = #bdbdbd
$secondary-icon-color = $white
$divider-color = #eee
$baseline-input-color = $white
