@import './components/variables'
@import './components/generic'
@import './components/header'
@import './components/navbar'
@import './components/title'
@import './components/add-note'
@import './components/icon'
@import './components/notes-list'
@import './components/note'
@import './components/form'
